src/main/mule/tshirts.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
    <configuration-properties doc:name="Configuration properties" file="${env}.yaml" />
    <http:listener-config name="tshirts-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="${http.port}" />
    </http:listener-config>
    <apikit:config name="tshirts-config" api="resource::db23fae1-60ea-43d1-bbdd-66ad6468b133:tshirts:1.0.10:raml:zip:tshirts.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <db:config name="Database_Config" doc:name="Database Config" doc:id="283b7c67-8114-4ddb-952b-042cbbcf2981">
        <db:generic-connection driverClassName="org.sqlite.JDBC" url="${databaseUrl}" />
    </db:config>
    <global-property doc:name="Global Property" doc:id="3eb2a84b-dfad-4c85-914c-1299e6fac8d7" name="env" value="dev" />
    <api-gateway:autodiscovery apiId="16998514" ignoreBasePath="true" doc:name="API Autodiscovery" doc:id="eca5581a-7f80-4220-a6da-687528fd3e87" flowRef="tshirts-main" />
	<flow name="tshirts-main">
        <http:listener config-ref="tshirts-httpListenerConfig" path="/api/1.0.0/*">
            <http:response statusCode="#[vars.httpStatus default 200]" reasonPhrase="#[vars.httpReasonPhrase default &quot;OK&quot;]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="tshirts-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="tshirts-console">
        <http:listener config-ref="tshirts-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="tshirts-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\inventory:tshirts-config">
        <db:select doc:name="Select" doc:id="cc44b9e7-9c7e-4268-9ccc-4eed9fe2f829" config-ref="Database_Config">
            <db:sql><![CDATA[select * from inventory_item;]]></db:sql>
        </db:select>
        <ee:transform doc:name="Transform Message" doc:id="918a5ef6-c3ba-4425-a961-652dbb75e6d7">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	items: payload map ( payload01 , indexOfPayload01 ) -> {
		productCode: payload01.productCode,
		size: payload01.size default "",
		count: payload01.count default 0,
		description: payload01.description default ""
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" message="get:\inventory:tshirts-config" />
    </flow>
    <flow name="post:\inventory:application\json:tshirts-config">
        <try doc:name="Try" doc:id="99408868-3345-478f-9016-3ff1fe0d6f7e">
            <db:insert doc:name="Insert" doc:id="32e8c3f9-6d5f-4c41-a0e1-434a87ba3a14" config-ref="Database_Config">
                <db:sql><![CDATA[insert into inventory_item (productCode, size, count, description) values 
(:productCode, :size, :count, :description);]]></db:sql>
                <db:input-parameters><![CDATA[#[payload]]]></db:input-parameters>
            </db:insert>
            <ee:transform doc:name="Transform Message" doc:id="892a71d8-c6f9-4c1b-a092-345629fadd26">
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            <error-handler>
                <on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8b9764cf-b66d-46e3-86ae-f7f761b23c6f" type="DB:QUERY_EXECUTION" when="#[error.cause.message contains 'PRIMARY KEY']">
                    <set-variable value="409" doc:name="Set Status Code" doc:id="62f39df0-f8ae-4496-a0b4-357edaf05b07" variableName="httpStatus" />
                    <set-variable value="Conflict" doc:name="Set Reason Phrase" doc:id="e48924fa-6d63-478d-bdde-8406046383d1" variableName="httpReasonPhrase" />
                    <logger level="INFO" doc:name="Logger" doc:id="905ebdc7-1a65-4ce0-8941-416a732ea2f9" />
                </on-error-continue>
            </error-handler>
        </try>
    </flow>
    <flow name="put:\inventory\(productCode):application\json:tshirts-config">
        <db:update doc:name="Update" doc:id="317e12ee-31d3-4a24-8605-29ffa0fb437d" config-ref="Database_Config" target="affectedRows" targetValue="#[payload.affectedRows]">
			<db:sql ><![CDATA[update inventory_item set count=:count, description=:description, size=:size 
where productCode=:productCode;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
productCode: attributes.uriParams.productCode,
size: payload.size,
count: payload.count,
description : payload.description
}]]]></db:input-parameters>
		</db:update>
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="productCode">attributes.uriParams.'productCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\inventory\(productCode):application\json:tshirts-config" />
    </flow>
    <flow name="delete:\inventory\(productCode):tshirts-config">
        <db:delete doc:name="Delete" doc:id="7e5c4cfe-af60-425d-b47f-2c7d7f0571d3" config-ref="Database_Config" target="affectedRows" targetValue="#[payload.affectedRows]">
			<db:sql ><![CDATA[delete from inventory_item where productCode=:productCode;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	productCode: attributes.uriParams.productCode
}]]]></db:input-parameters>
		</db:delete>
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="productCode">attributes.uriParams.'productCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\inventory\(productCode):tshirts-config" />
    </flow>
</mule>
